@{
    ViewBag.Title = "Спасибо";
    ViewBag.HeaderTitle = "Спасибо";
    Layout = "_Layout";
}

<div class="thank-you-page-container">
    <div class="thank-you-card">
        <h2 class="thank-you-title">Спасибо за ваше сообщение!</h2>
        <p class="thank-you-message">Мы рассмотрим ваше обращение в ближайшее время.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Вернуться на главную</a>
    </div>
</div>