@{
    ViewBag.Title = "Contacts";
    ViewBag.HeaderTitle = "Контакты";
    Layout = "_Layout";
}

<div class="contacts-page-container">
    <div class="container-with-button">
        <h2 class="page-title">Контакты</h2>
        <button onclick="goBack()" class="btn btn-secondary back-button">Назад</button>
    </div>

    <div class="contacts-content-card">
        <p class="contacts-description">Свяжитесь с нами, если у вас есть вопросы или предложения. Мы всегда рады помочь!</p>

        <div class="contacts-list">
            <h3 class="contacts-subtitle">Контактные данные сотрудников</h3>
            <ul class="contacts-items">
                <li class="contact-item"><strong>Генеральный директор:</strong> Овчинников Сергей Александрович</li>
                <li class="contact-item"><strong>Заместитель генерального директора:</strong> Волосников Андрей Сергеевич, +7 (903) 220-40-36</li>
                <li class="contact-item"><strong>Главный технолог:</strong> Тулгэра Дмитрий Георгиевич, +7 (926) 685-58-89</li>
                <li class="contact-item"><strong>Ведущий конструктор:</strong> Русаков Дмитрий Александрович, +7 (909) 938-92-31</li>
                <li class="contact-item"><strong>Мастер участка 1:</strong> Гусейнов Алик Рафаилович, +7 (991) 268-90-55</li>
                <li class="contact-item"><strong>Мастер участка 2:</strong> Межов Сергей Сергеевич, +7 (926) 737-78-47</li>
                <li class="contact-item"><strong>Мастер участка 3:</strong> Румянцев Валерий Сергеевич, +7 (999) 849-06-29</li>
                <li class="contact-item"><strong>Мастер участка 4:</strong> Носов Александр Сергеевич, +7 (901) 383-86-02</li>
                <li class="contact-item"><strong>Мастер участка 5:</strong> Секандари Севастиан Вахедович, +7 (910) 466-46-37</li>
                <li class="contact-item"><strong>Бригадир 1:</strong> Губанов Антон Игоревич, +7 (962) 990-95-83</li>
                <li class="contact-item"><strong>Бригадир 2:</strong> Андроник Егор Валерьевич, +7 (985) 719-02-42</li>
            </ul>
        </div>
    </div>
</div>