@{
    ViewBag.Title = "Главная страница";
    ViewBag.HeaderTitle = "Корпоративный портал";
    Layout = "_Layout";
}

<div class="main-grid-container">
    <!-- Первый ряд: 3 карточки -->
    <div class="card-row">
        <!-- Карточка 1 - Личный кабинет -->
        <div class="card">
            <h2>Личный кабинет</h2>
            <img src="~/images/personalcabinet.png" alt="Личный кабинет" class="mainmenu-logo">
            <p>Управляйте своей учетной записью и графиком работы.</p>
            <a asp-controller="Home" asp-action="PersonalCabinet" class="btn btn-primary">Перейти в кабинет</a>
        </div>

        <!-- Карточка 2 - База знаний -->
        <div class="card">
            <h2>База знаний</h2>
            <img src="~/images/knowledgebase.png" alt="База знаний" class="mainmenu-logo">
            <p>Здесь вы найдете полезные материалы для работы.</p>
            <a asp-controller="Home" asp-action="Knowledge_Base" class="btn btn-primary">Войти в базу знаний</a>
        </div>

        <!-- Карточка 3 - Тестирование -->
        <div class="card">
            <h2>Тестирование</h2>
            <img src="~/images/exam.png" alt="Тестирование" class="mainmenu-logo">
            <p>Пройдите тесты для проверки знаний.</p>
            <a asp-controller="Home" asp-action="Testpage" class="btn btn-primary">Перейти к тестам</a>
        </div>
    </div>

    <!-- Второй ряд: 3 карточки -->
    <div class="card-row">
        <!-- Карточка 4 - Заказ обедов -->
        <div class="card">
            <h2>Заказать обед</h2>
            <img src="~/images/launch.png" alt="Заказ обедов" class="mainmenu-logo">
            <p>Раздел для заказа обедов</p>
            <a asp-controller="Lunch" asp-action="Lunch" class="btn btn-primary">Заказать обед</a>
        </div>

        <!-- Карточка 5 - Обратная связь -->
        <div class="card">
            <h2>Обратная связь</h2>
            <img src="~/images/os.png" alt="Обратная связь" class="mainmenu-logo">
            <p>Напишите обращение руководству (можно анонимно).</p>
            <a asp-controller="Home" asp-action="Feedback" class="btn btn-primary">Оставить обращение</a>
        </div>

        <!-- Карточка 6 - Контакты -->
        <div class="card">
            <h2>Контакты</h2>
            <img src="~/images/contacts.png" alt="Контакты" class="mainmenu-logo">
            <p>Актуальные контакты сотрудников для связи.</p>
            <a asp-controller="Home" asp-action="Contacts" class="btn btn-primary">Перейти к контактам</a>
        </div>
    </div>
</div>