@{
    ViewBag.Title = "База знаний";
    ViewBag.HeaderTitle = "База знаний";
    Layout = "_Layout";
}

<main class="main-content">
    <div class="knowledge-container container">
        <div class="container-with-button">
            <h2>Разделы</h2>
            <button onclick="goBack()" class="btn btn-secondary back-button">Назад</button>
        </div>

        <div class="course-list">
            <!-- 1 раздел -->
            <div class="course-item card">
                <a asp-controller="Home" asp-action="Equipment" class="btn btn-primary">
                    <h3>Инструменты</h3>
                    <p>Список инструментов для работы с их описанием</p>
                </a>
            </div>

            <!-- 2 раздел -->
            <div class="course-item card">
                <a asp-controller="Home" asp-action="Device" class="btn btn-primary">
                    <h3>Оборудование</h3>
                    <p>Список оборудования для работы с их описанием</p>
                </a>
            </div>

            <!-- 3 раздел -->
            <div class="course-item card">
                <a asp-controller="Home" asp-action="Cours" class="btn btn-primary">
                    <h3>Курсы</h3>
                    <p>Курсы для повышения знаний</p>
                </a>
            </div>

            <!-- 4 раздел -->
            <div class="course-item card">
                <a asp-controller="Home" asp-action="Safety" class="btn btn-primary">
                    <h3>Блок безопасности</h3>
                    <p>Правила и инструкции по охране труда и технике безопасности</p>
                </a>
            </div>

            <!-- 5 раздел -->
            <div class="course-item card">
                <a asp-controller="Home" asp-action="FireSafety" class="btn btn-primary">
                    <h3>Пожарная безопасность</h3>
                    <p>Правила и инструкции по пожарной безопасности</p>
                </a>
            </div>
        </div>
    </div>
</main>

<script>
    function goBack() {
        window.history.back();
    }
</script>