@{
    ViewBag.Title = "База знаний";
    ViewBag.HeaderTitle = "База знаний";
    Layout = "_Layout";
}

<main class="main-content">
    <div class="knowledge-container">
        <div class="container-with-button">
            <h2 class="page-title">Разделы</h2>
            <button onclick="goBack()" class="btn btn-secondary back-button">
                <i class="fas fa-arrow-left"></i> Назад
            </button>
        </div>

        <div class="course-list">
            <!-- 1 раздел -->
            <div class="course-item">
                <a asp-controller="Home" asp-action="Equipment" class="course-item-link">
                    <h3 class="course-item-title">Инструменты</h3>
                    <p class="course-item-desc">Список инструментов для работы с их описанием</p>
                </a>
            </div>

            <!-- 2 раздел -->
            <div class="course-item">
                <a asp-controller="Home" asp-action="Device" class="course-item-link">
                    <h3 class="course-item-title">Оборудование</h3>
                    <p class="course-item-desc">Список оборудования для работы с их описанием</p>
                </a>
            </div>

            <!-- 3 раздел -->
            <div class="course-item">
                <a asp-controller="Home" asp-action="Courses" class="course-item-link">
                    <h3 class="course-item-title">Курсы</h3>
                    <p class="course-item-desc">Курсы для повышения знаний</p>
                </a>
            </div>

            <!-- 4 раздел -->
            <div class="course-item">
                <a asp-controller="Home" asp-action="Safety" class="course-item-link">
                    <h3 class="course-item-title">Блок безопасности</h3>
                    <p class="course-item-desc">Правила и инструкции по охране труда и технике безопасности</p>
                </a>
            </div>

            <!-- 5 раздел -->
            <div class="course-item">
                <a asp-controller="Home" asp-action="FireSafety" class="course-item-link">
                    <h3 class="course-item-title">Пожарная безопасность</h3>
                    <p class="course-item-desc">Правила и инструкции по пожарной безопасности</p>
                </a>
            </div>
        </div>
    </div>
</main>