<footer class="footer">
    <div class="footer-container">
        <div class="footer-copyright">
            &copy; @DateTime.Now.Year Корпоративный портал Arismo. Все права защищены.
        </div>
    </div>
</footer>